
.booking-hero {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #fff;
    min-height: 100%;
}

.booking-card-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
    max-width: 1600px;
    width: 100%;
    overflow-x: auto ;
}

.booking-card {
    background-color: gray;
    background-image: url('https://th.bing.com/th/id/OIP.n5ZXkWik7Vnl-GH02m7a0AHaFW?w=268&h=193&c=7&r=0&o=5&dpr=1.3&pid=1.7');
    margin: 10px;
    position: relative;
    list-style: none;
    height: 300px;
    width: 307px;

}


.booking-card:hover {
    transform: scale(1.05) translateZ(0);
    transition: filter 200ms linear,transform 200ms linear;
}


/* .card-grid:hover > .card:not(:hover) .background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}  */

.booking-content { 
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px;
    
}

.booking-content .booking-category {
    color: black;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.booking-content .booking-heading {
    color: black;
    font-size: 1.9rem;
    line-height: 1.4;
    
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}

.logo-image {
   
    width: 150px;
    height:150px;

}









