@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


.travel-body {
    /* align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #f6f5f7;
    font-family: 'monserrat',sans-serif;
    min-height: 100%;
    margin: 10%; */
    /* background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #d6caeb 50%, #ff4b2b 50%); */
    /* width: 100vw; */
    background-image: url("https://wallpapercave.com/wp/wp3485022.jpg");
    background-size: cover;
    padding-left: 260px;
    position: absolute;
    height:100vh;
    width: 100vw;
    
    
   
}

.travel-container {
    position: relative;
    margin-top: 100px;
    margin-left: 230px;
    width: 500px;
    max-width: 100%;
    min-height: 300px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.22)
}
.travel-form {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 40px;
    height: 100%;
    text-align: center;
}

.travel-h1 {
    font-weight: bold;
    margin: 0;
}


.travel-input {
    background: #eee;
    padding: 12px 15px;
    margin: 8px 15px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
}


.travel-button {
    color: #fff;
    background: #ff4b2b;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 55px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

button:active {
    transform: scale(0.90);
}